#interviews-page {
    min-height: 0;
    .play-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
        width: 90%;
      }
    }
  .page-title {
    // padding: 0;
    // margin: 0;
    // height: fit-content;
  }
    
}