@use '../util/' as u;


$videoWidth: 70%;

#play-page {
    .pdf-section {
        width: 100%;
        background-color: var(--blackboard);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-cover {
        width: clamp(200px, 70%, 600px);
    }
    video {
        width: 70%;
        margin-bottom: 5%;
    }
    .image-section {
        width:100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // background-color: var(--blackboard);
        img {
            margin: 2%;
            width: clamp(300px, 45%, 600px);
        }

    }
    
    .song-section{
        background: var(--tan);
        .page-title {
            color: var(--blackboard);
            text-decoration-color: ivory;
        }
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        audio {
            margin: 2%;
        }
        padding-bottom: 15%;
    }

    .pdf-section {
        padding: 15%;
        .page-title {
            color: ivory
        }
    }
}

.theatre-tiles-container {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--tan);
    width: 100%;
    margin: auto;
    padding: 10%;
    a {
        $size: clamp(200px, 20vw, 500px);
        height: $size;
        width: $size;
    }
   
    
}

@include u.breakpoint-down(small) {
    .theatre-tiles-container {
        a {
            width: 100%;
            &:hover {
                border-radius: 0;
            }
        }

    }
}